# Dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# Environment variables (CRITICAL TO IGNORE)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production builds
dist/
build/
out/

# Editor and IDE directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
